{% extends "hardware/base.html" %}

{% block title %}主页{% endblock %}

{% block content %}

    <div class="container" id="lab-content">
        <div id="homeCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#homeCarousel" data-slide-to="1"></li>
                <li data-target="#homeCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="first-slide" src="/static/media/DC1.jpg" alt="First slide">
                    <div class="carousel-caption">
                        <h1>欢迎</h1>
                        <p style="color:black">欢迎访问中国移动通信研究院实验室管理系统</p>
                        <p><a class="btn btn-lg btn-primary" href="/accounts/signup/" role="button">注册系统</a></p>
                    </div>
                </div>
                <div class="item">
                    <img class="second-slide" src="/static/media/DC2.jpg" alt="Second slide">
                    <div class="carousel-caption">
                        <h1>你好</h1>
                        <p style="color:black">这是一个神奇的系统，你可以通过它线上完成实验室的管理</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">了解更多</a></p>
                    </div>
                </div>
                <div class="item">
                    <img class="third-slide" src="/static/media/DC3.jpg" alt="Third slide">
                    <div class="carousel-caption">
                        <h1>世界</h1>
                        <p style="color:black">你可以向管理员建议，增加更多你喜欢的功能</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">联系管理员</a></p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-sm-4 col-md-4">
                <h2 class="featurette-heading">设备管理</h2>
                <p class="lead">将实验室信息进行页面化展示，清晰的展示服务器，交换机等信息。</p>
                <p><a class="btn" href="#">更多 &raquo;</a></p>
            </div>
            <div class="col-sm-8 col-md-8">
                <img class="featurette-image img-responsive center-block" src="/static/media/Introduction1.png" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-sm-7 col-sm-push-5 col-md-7 col-md-push-5">
                <h2 class="featurette-heading">流程优化</h2>
                <p class="lead">一键式实验室使用，使得开发，测试，运维更加快捷方便。</p>
                <p><a class="btn" href="#">更多 &raquo;</a></p>
            </div>
            <div class="col-sm-5 col-sm-pull-7 col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="/static/media/Introduction2.png" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-sm-7 col-md-7">
                <h2 class="featurette-heading">设计开发</h2>
                <p class="lead">架构：杨健</p>
                <p class="lead">前端：冯遵山</p>
                <p class="lead">后台：胡浩</p>
                <p><a class="btn" href="#">更多 &raquo;</a></p>
            </div>
            <div class="col-sm-5 col-md-5">
                <img class="featurette-image img-responsive center-block" src="/static/media/Introduction3.png" alt="Generic placeholder image">
            </div>
        </div>
    </div>

{% endblock %}
