{% extends "hardware/base.html" %}

{% load bootstrap3 %}

{% block title %}跳转页{% endblock %}

{% block content %}

    <div class="container" id="lab-content">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
            {% if signup_success %}
                <div class="center">
                    <h3>你已经成功注册，并已成功登录！</h3>
                    <a href="/home/"><input type="button" value="返回主页" class="btn btn-info"></a>
                    <a href="/accounts/logout/"><input type="button" value="注销" class="btn btn-info"></a>
                </div>
            {% endif %}

            {% if logout_success %}
                <div class="center">
                    <h3>你已经成功登出！</h3>
                    <a href="/home/"><input type="button" value="返回主页" class="btn btn-info"></a>
                    <a href="/accounts/login/"><input type="button" value="登录" class="btn btn-info"></a>
                </div>
            {% endif %}

            {% if server_add_success %}
                <div class="center">
                    <h3>服务器已添加成功！</h3>
                    <a href="/home/"><input type="button" value="返回主页" class="btn btn-info"></a>
                    <a href="/server/"><input type="button" value="返回服务器列表" class="btn btn-info"></a>
                    <a href="/server/add/"><input type="button" value="继续添加服务器" class="btn btn-info"></a>
                </div>
            {% endif %}

            {% if server_edit_success %}
                <div class="center">
                    <h3>服务器已编辑成功！</h3>
                    <a href="/home/"><input type="button" value="返回主页" class="btn btn-info"></a>
                    <a href="/server/"><input type="button" value="返回服务器列表" class="btn btn-info"></a>
                </div>
            {% endif %}

            {% if server_delete_success %}
                <div class="center">
                    <h3>服务器已删除成功！</h3>
                    <a href="/home/"><input type="button" value="返回主页" class="btn btn-info"></a>
                    <a href="/server/"><input type="button" value="返回服务器列表" class="btn btn-info"></a>
                </div>
            {% endif %}

            {% if switch_add_success %}
                <div class="center">
                    <h3>交换机已添加成功！</h3>
                    <a href="/home/"><input type="button" value="返回主页" class="btn btn-info"></a>
                    <a href="/switch/"><input type="button" value="返回交换机列表" class="btn btn-info"></a>
                    <a href="/switch/add/"><input type="button" value="继续添加交换机" class="btn btn-info"></a>
                </div>
            {% endif %}

            {% if switch_edit_success %}
                <div class="center">
                    <h3>交换机已编辑成功！</h3>
                    <a href="/home/"><input type="button" value="返回主页" class="btn btn-info"></a>
                    <a href="/switch/"><input type="button" value="返回交换机列表" class="btn btn-info"></a>
                </div>
            {% endif %}

            {% if switch_delete_success %}
                <div class="center">
                    <h3>交换机已删除成功！</h3>
                    <a href="/home/"><input type="button" value="返回主页" class="btn btn-info"></a>
                    <a href="/switch/"><input type="button" value="返回交换机列表" class="btn btn-info"></a>
                </div>
            {% endif %}

            {% if ip_add_success %}
                <div class="center">
                    <h3>IP记录已添加成功！</h3>
                    <a href="/home/"><input type="button" value="返回主页" class="btn btn-info"></a>
                    <a href="/ip/"><input type="button" value="返回IP资源列表" class="btn btn-info"></a>
                    <a href="/ip/add/"><input type="button" value="继续添加IP记录" class="btn btn-info"></a>
                </div>
            {% endif %}

            {% if ip_delete_success %}
                <div class="center">
                    <h3>IP记录已删除成功！</h3>
                    <a href="/home/"><input type="button" value="返回主页" class="btn btn-info"></a>
                    <a href="/ip/"><input type="button" value="返回IP资源列表" class="btn btn-info"></a>
                </div>
            {% endif %}
        </div>
    </div>
    </div>

{% endblock %}
