{% extends "hardware/base.html" %}

{% block title %}实验室服务器列表{% endblock %}

{% block content %}

    <div class="container" id="lab-content">
        <div class="row">
            <div class="col-sm-2 col-md-2">
                <h3>按需检索</h3>
                <ul class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        负责人
                        <strong class="caret"></strong>
                    </a>
                    <ul class="dropdown-menu">
                        {% for manager in managers %}
                            <li><a href="/server/search/manager/{{manager.id}}/">{{manager.name}}</a></li>
                        {% endfor %}
                    </ul>
                </ul>

                <ul class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        厂商
                        <strong class="caret"></strong>
                    </a>
                    <ul class="dropdown-menu">
                        {% for company in companys %}
                            <li><a href="/server/search/company/{{company.id}}/">{{company.name}}</a></li>
                        {% endfor %}
                    </ul>
                </ul>

                <ul class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        机柜
                        <strong class="caret"></strong>
                    </a>
                    <ul class="dropdown-menu">
                        {% for rack in racks %}
                            <li><a href="/server/search/rack/{{rack.id}}/">{{rack.name}}</a></li>
                        {% endfor %}
                    </ul>
                </ul>

                <ul class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        可用性
                        <strong class="caret"></strong>
                    </a>
                    <ul class="dropdown-menu">
                        {% for state in state_list %}
                            <li><a href="/server/search/state/{{state}}/">{{state}}</a></li>
                        {% endfor %}
                    </ul>
                </ul>

                <ul class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        操作系统
                        <strong class="caret"></strong>
                    </a>
                    <ul class="dropdown-menu">
                        {% for system in system_list %}
                            <li><a href="/server/search/system/{{system}}/">{{system}}</a></li>
                        {% endfor %}
                    </ul>
                </ul>
            </div>

            <div class="col-sm-10 col-md-10">
                <h3>实验室服务器列表</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="center">资产编号</th>
                            <th class="center">负责人</th>
                            <th class="center">生产厂商</th>
                            <th class="center">生产型号</th>
                            <th class="center">机柜</th>
                            <th class="center">机器配置</th>
                            <th class="center">是否可用</th>
                            <th class="center">操作系统</th>
                            <th class="center">业务</th>
                            <th class="center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for server in servers.object_list %}
                            <tr>
                                <td class="center">{{server.number}}</td>
                                <td class="center">
                                    {% for manager in server.manager.all %}
                                        {{manager}}
                                        {% if not forloop.last %}
                                            ,
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="center">{{server.company}}</td>
                                <td class="center">{{server.product}}</td>
                                <td class="center">{{server.rack}}</td>
                                <td class="center">{{server.conf}}</td>
                                <td class="center">{{server.state}}</td>
                                <td class="center">{{server.system}}</td>
                                <td class="center">{{server.service}}</td>
                                <td class="center">
                                    <a href="/server/detail/{{server.id}}/">详情</a>
                                    <a href="/server/edit/{{server.id}}/">编辑</a>
                                    <a href="/server/delete/{{server.id}}/">删除</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="right">
                    {% if servers.has_previous %}
                        <a href="?page={{ servers.previous_page_number }}">上一页</a>
                    {% endif %}
                    {% for page_number in servers.paginator.page_range %}
                        {% ifequal page_number  servers.number %}
                            {{ page_number }}
                        {% else %}
                            <a href="?page={{ page_number }}">{{ page_number }}</a>
                        {% endifequal %}
                    {% endfor %}
                    {% if servers.has_next %}
                        <a href="?page={{ servers.next_page_number }}">下一页</a>
                    {% endif %}
                </div>

                <div class="center">
                    <a href="/server/add/"><input type="button" value="增加新服务器" class="btn btn-info"></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
