{% extends "hardware/base.html" %}

{% block title %}Telnet{% endblock %}

{% block content %}

    <div class="container" id="lab-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
                <br></br>
                <h3 class="center">Telnet连接</h3>
                <h4 class="center">欢迎使用Telnet跳板机，请点击开始，依次输入IP、端口号、用户名、密码，启动Telnet连接！</h4>
                <br></br>
                <!-- Decide where you want to put Gate One -->
                <div id="gateone_container" style="position: relative; width: 70em; height: 35em;">
                    <div id="gateone"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <!-- Include gateone.js somewhere on your page -->
    <script src="/static/js/gateone.js" type="text/javascript"></script>

    <!-- Call GateOne.init() at some point after the page is done loading -->
    <script>
    window.onload = function() {
        // Initialize Gate One:
        GateOne.init({
            url: "https://{{ url }}/",
        });
    }
    </script>

{% endblock %}
