{% extends "hardware/base.html" %}

{% load bootstrap3 %}

{% block title %}实验室管理系统登录{% endblock %}

{% block content %}

    <div class="container-fluid" id="lab-content">
    <div class="row">
        <div class="col-md-12">
            {% if password_is_wrong %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>错误!</h4>用户名或密码错误
            </div>
            {% endif %}

            <h3>
                实验室管理系统
            </h3>

            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form loginform %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} 登录
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    </div>

{% endblock %}
