{% extends "hardware/base.html" %}

{% load bootstrap3 %}

{% block title %}注销{% endblock %}

{% block content %}

    <div class="container-fluid" id="lab-content">
    <div class="row">
        <div class="col-md-12">
            <h3>你已经成功登出。</h3>

            <div>
                <a href="/home/"><input type="button" value="返回主页" class="btn btn-info"></a>
                <a href="/accounts/login"><input type="button" value="登陆" class="btn btn-info"></a>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
