{% extends "hardware/base.html" %}

{% block title %}实验室服务器列表{% endblock %}

{% block content %}

    <div class="container-fluid" id="lab-content">
    <div class="row">
        <div class="col-md-12">
            <h3>
                实验室服务器列表
            </h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>资产编号</th>
                        <th>负责人</th>
                        <th>生产厂商</th>
                        <th>生产型号</th>
                        <th>机架位置</th>
                        <th>机器配置</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                {% for server in servers %}
                    <tr>
                        <td><a href="/servers/detail/{{server.id}}">{{server.number}}</a></td>
                        <td>{{server.manager}}</td>
                        <td>{{server.company}}</td>
                        <td>{{server.product}}</td>
                        <td>{{server.rack}}</td>
                        <td>{{server.conf}}</td>
                        <td>
                            <a href="/servers/edit/{{server.id}}">编辑</a>
                            <a href="/servers/delete/{{server.id}}">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div align="center">
                <a href="/servers/serveradd/"><input type="button" value="增加新服务器" class="btn btn-info"></a>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
