{% extends "hardware/base.html" %}

{% load bootstrap3 %}

{% block title %}实验室管理系统注册{% endblock %}

{% block content %}

    <div class="container-fluid" id="lab-content">
    <div class="row">
        <div class="col-md-12">
            {% if repeat_password_error %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>错误!</h4>两次输入的密码不一致，请修正
            </div>
            {% endif %}

            {% if user_exist_error %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>错误!</h4>你填写的用户名已存在，请修正
            </div>
            {% endif %}

            <h3>
                实验室管理系统注册
            </h3>

            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form signupform %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} 注册
                    </button>
                {% endbuttons %}
            </form>

            {% if signup_success %}
                <div align="center">
                    <a href="/home/"><input type="button" value="注册成功，点击返回主页" class="btn btn-info"></a>
                </div>
            {% endif %}
        </div>
    </div>
    </div>

{% endblock %}
